*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif; 
}
body{
    width: 1240px;
    color: rgb(172, 166, 166);
}
/* navber */
header{
    width: 100%;
    border: 2px solid purple;
    
}
nav{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    color:#FFFFFF ;
   
}
.container{
    max-width: 1100px;
    height: 80px;
    border: 0;
    margin:0  auto;
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 139px;
    height: 60px;
}
.list ul{
    display: flex;
    gap: 30px;
}
.list ul li{
    list-style: none;
   
    
}
.list ul li a{
    color:#000000 ;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-style: Medium;

}
.btn{
    padding: 12px 16px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background:#469165 ;
    border-radius: 4px;
    width: 164px;
    height: 44px;
   
}
.btn:hover{
    color:rgb(248, 161, 161) ;
    cursor: pointer;
}
/* banner */

.section{
    width: 100%;
    border: 2px solid blue;
}
.banner{
    background-image: url(./image/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btnm{
    padding: 4px 12px;
    font-size: 16px;
    color: #469165;
    font-weight: 500px;
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    border: 0;
}
.btnm:hover{
    color: chocolate;
}
.btns{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.mty{
    width: 251px;
    height: 52px;
    padding:16px;
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600px;
    border: 0;
    border-radius: 4px;
}
.mty:hover{
    color: aqua;
    cursor: pointer;
}
.ntv{
    width: 198px;
    height: 52px;
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
   background-color:transparent ;
   border: 1px solid;
   border-radius: 4px;
}

.ntv:hover{
    color: aqua;
    cursor: pointer;
}