*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif; 
}
body{
    width: 1240px;
    color: rgb(172, 166, 166);
}
/* navber */
header{
    width: 100%;
    border: 2px solid purple;
    
}
nav{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    color:#FFFFFF ;
   
}
.container{
    max-width: 1100px;
    height: 80px;
    border: 0;
    margin:0  auto;
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 139px;
    height: 60px;
}
.list ul{
    display: flex;
    gap: 30px;
}
.list ul li{
    list-style: none;
   
    
}
.list ul li a{
    color:#000000 ;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-style: Medium;

}
.btn{
    padding: 12px 16px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background:#469165 ;
    border-radius: 4px;
    width: 164px;
    height: 44px;
   
}
.btn:hover{
    color:rgb(248, 161, 161) ;
    cursor: pointer;
}
/* banner */

.section{
    width: 100%;
    border: 2px solid blue;
}
.banner{
    background-image: url(./image/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btnm{
    padding: 4px 12px;
    font-size: 16px;
    color: #469165;
    font-weight: 500px;
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    border: 0;
}
.btnm:hover{
    color: chocolate;
}
.btns{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.mty{
    width: 251px;
    height: 52px;
    padding:16px;
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600px;
    border: 0;
    border-radius: 4px;
}
.mty:hover{
    color: aqua;
    cursor: pointer;
}
.ntv{
    width: 198px;
    height: 52px;
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
   background-color:transparent ;
   border: 1px solid;
   border-radius: 4px;
}

.ntv:hover{
    color: aqua;
    cursor: pointer;
}

/* main */

main{
    width: 100%;
    border: 0;
    padding-bottom: 30px;
}
            
.note-sec{
      border:0;
      padding:50px 120px ;
}
.note1{
    border: 0;
}
.note1 h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;
}
.note1 p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
}
.note2{
    border:0;
    margin-top: 44px;
   
     display: flex; 
    gap: 16px;

}
.note-card{
    padding: 24px;
    border: 0;
    width: 322px;
    height: 300px;
    background: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    box-shadow:1px 0 0 #ececec  ;
    border-radius: 8px;
    
}
.note-card img{
    background: #F95555;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 6px;
    border-radius: 50%;
   
    
    
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-top: 16px;
}
.note-card p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color:#627382 ;
    font-weight: 400;
}
/* brain */
article{
    width: 100%;
    border: 0;
    padding: 120px;
    margin-top: 30px;
}
.brain-sec{
    border: 0;
    padding: 10px;
    display: flex;
   gap: 60px;
}
.brain-img{
    border: 0;
    padding: 10px;
    width: 50%;
   
}
 .image{
    width: 500px;
    height: 500px;
    border-radius:12px ;
    border: 0;
   
}
.brain-content{
    border: 0;
    width: 50%;
}
.brain-content h4{
    font-size: 16px;
    font-weight: 500;
    color:#30B868 ;
    line-height: 20px;
}
.brain-content h3{
    padding-top: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color:#001931 ;
}
.brain-content p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color:#627382 ;
}
.brain-content .ol{
    margin-top: 40px;
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    list-style-image: url(./image/CheckCircle.png);
    padding-left: 25px;
}
