*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif; 
}
body{
    
    color: rgb(172, 166, 166);
}
/* navber */
header{
    width: 100%;
    border: 0;
    
}
nav{
    width: 100%;
    border: 0;
    padding: 10px;
    color:#FFFFFF ;
   
}
.container{
    max-width: 1100px;
    height: 80px;
    border: 0;
    margin:0  auto;
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 139px;
    height: 60px;
}
.list ul{
    display: flex;
    gap: 30px;
}
.list ul li{
    list-style: none;
   
    
}
.list ul li a{
    color:#000000 ;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-style: Medium;

}
.btn{
    padding: 12px 16px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background:#469165 ;
    border-radius: 4px;
    width: 164px;
    height: 44px;
   
}
.btn:hover{
    color:rgb(248, 161, 161) ;
    cursor: pointer;
}
/* banner */

.section{
    width: 100%;
    border: 0;
}
.banner{
    background-image: url(./image/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 16px;
    line-height: 84px;
    color:#FFFFFF ;
}

.text-green{
    color:#30B868 ;
}

.banner-content p{
    font-size:18px ;
    line-height: 24px;
    text-align: center;
    padding-top: 16px;
    color: #FFFFFF;

}

.btnm{
    padding: 4px 12px;
    font-size: 16px;
    color: #469165;
    font-weight: 500px;
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    border: 0;
}
.btnm:hover{
    color: chocolate;
}
.btns{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.mty{
    width: 251px;
    height: 52px;
    padding:16px;
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600px;
    border: 0;
    border-radius: 4px;
}
.mty:hover{
    color: aqua;
    cursor: pointer;
}
.ntv{
    width: 198px;
    height: 52px;
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
   background-color:transparent ;
   border: 1px solid;
   border-radius: 4px;
}

.ntv:hover{
    color: aqua;
    cursor: pointer;
}

/* main */

main{
    width: 100%;
    border: 0;
    padding-bottom: 30px;
}
            
.note-sec{
      border:0;
      padding:50px 120px ;
}
.note1{
    border: 0;
}
.note1 h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;
}
.note1 p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
}
.note2{
    border:0;
    margin-top: 44px;
   
     display: flex; 
    gap: 16px;

}
.note-card{
    padding: 24px;
    border: 0;
    width: 322px;
    height: 300px;
    background: #FFFFFF;
    text-align: center;
    padding-top: 50px;
   
    border-radius: 8px;
    
}
.note-card img{
    background: #F95555;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 6px;
    border-radius: 50%;
   
    
    
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-top: 16px;
}
.note-card p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color:#627382 ;
    font-weight: 400;
}
/* brain */
article{
    width: 100%;
    border:0;
    padding: 120px;
    margin-top: 30px;
}
.brain-sec{
    border:0;
    padding: 10px;
    display: flex;
    gap: 60px;
}
.brain-img{
    border: 0;
    padding-top:90px ; 
    /* width: 40%; */
    background-color: #FFFFFF;
   
}
 .image{
    width: 600px;
    height: 600px;
    border-radius:12px ;
    border: 0;
    text-align: center;
   
}
.brain-content{
    border: 0;
    /* width: 60%; */
    padding-top: 180px;
    border: 0;
    padding-bottom: 80px;
}
.brain-content h4{
    font-size: 16px;
    font-weight: 500;
    color:#30B868 ;
    line-height: 20px;
    
}
.brain-content h3{
    padding-top: 16px;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    color:#001931 ;
}
.brain-content p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    color:#627382 ;
}
.brain-content .ol{
    margin-top: 40px;
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    list-style-image: url(./image/CheckCircle.png);
    padding-left: 25px;
}
/* early section */

.sect{
    width: 100%;
    border:0;
    margin-top: 20px;

}

.early-sec{

    max-width: 1100px; 
    border: 0;
    margin-top: 30px;
    padding: 10px;
    margin: 0 auto;
    background-color:#FFFFFF ;

}
.early-content{
    text-align: center;
    padding: 80px 40px;
}
.early-content h2{
    color:#001931 ;
    font-size: 40px;
    font-weight: bold;
}
.early-content p{
    font-size: 16px;
    padding-top: 16px;
    line-height: 24px;
    color:#627382 ;
    
}
.early-btn{
    text-align: center;
    margin-top: 24px;
}
footer{
    width: 100%;
    border: 0;
    background-color:#001931 ;
    padding: 120px;
   
}
.foot1{
   max-width: 1140px;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    margin: 0 auto;
}
 .foot2{
    max-width: 1140px;
    border: 0;
    margin-top: 80px;
}  
.logo-imgd{
    width: 139px;
    height: 60px;
}
.footer-media p{
    font-size:20px ;
    line-height: 28px;
    font-weight: 500;
    color:#FFFFFF ;

}
.icon-menu{
    margin-top: 21p
    display: flex;
    justify-content: center;
   
    gap: 20px;
   
   
}
.icond{
    width: 40px;
    height:40px;
    border: 0;
    font-size: 20px;
   
    border-radius: 100%;
    background: #FFFFFF;
    color:#000000 ;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.foot2 p{
    font-size: 16px;
    line-height: 24px;
    color:#FAFAFA ;
    text-align: center;
    padding-top: 30px;
}
